{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="max-w-sm mx-auto">
    <h1 class="text-2xl font-bold mb-4">Login</h1>

    <form action="." method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            <input type="text" name="username" id="username" class="border border-gray-300 rounded-md w-full px-3 py-2" />
        </div>
        
        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" name="password" id="password" class="border border-gray-300 rounded-md w-full px-3 py-2" />
        </div>
    
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
    </form>
    <p class="mt-4 text-sm">New user? <a href="{% url 'register' %}" class="text-blue-500 font-bold">Register here</a></p>
</div>
{% endblock %}
