{% extends 'main/base.html' %}

{% block title %}My Store{% endblock %}

{% block content %}
    <h1 class="text-2xl">My Store</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-green-200 text-green-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2 class="text-xl mt-6 mb-6">My Orders</h2>

    <div class="flex flex-wrap border-b border-gray-300 pb-2">
        <div class="w-1/4 px-2">
            <strong>Order ID</strong>
        </div>
        <div class="w-1/4 px-2">
            <strong>Title</strong>
        </div>
        <div class="w-1/4 px-2">
            <strong>Quantity</strong>
        </div>
        <div class="w-1/4 px-2">
            <strong>Price</strong>
        </div>
    </div>

    {% for order_item in page_obj %}
        <div class="flex flex-wrap border-b border-gray-300 py-2">
            <div class="w-1/4 px-2">
                <a href="{% url 'store_order_detail' order_item.order.id %}">{{ order_item.order.id }}</a>
            </div>
            <div class="w-1/4 px-2">
                {{ order_item.product.title }}
            </div>
            <div class="w-1/4 px-2">
                {{ order_item.quantity }}
            </div>
            <div class="w-1/4 px-2">
                Rs.{{ order_item.price }}
            </div>
        </div>
    {% endfor %}

    <!-- Pagination controls -->
    <div class="flex justify-center my-8">
        <div class="flex rounded-md bg-gray-200">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="py-2 px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-l-md">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="py-2 px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold">Previous</a>
            {% endif %}
            <span class="py-2 px-4 bg-gray-400 text-gray-800 font-bold">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="py-2 px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="py-2 px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold rounded-r-md">Last &raquo;</a>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'add_product' %}" class="mt-6 inline-block py-2 px-3 bg-green-500 text-white">Add Product</a>

    <h2 class="text-xl mt-6">My Products</h2>

    {% if request.user.products %}
        <div class="flex flex-wrap">
            {% for product in request.user.products.all %}
                <div class="product w-1/3 p-2">
                    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
                        <a href="{% url 'edit_product' product.id %}" class="block">
                            
                            <div class="image mb-2 bg-gray-200" style="height: 200px;">
                                <img src="{{ product.get_thumbnail }}" alt="Image of {{ product.title }}" class="rounded-lg w-full h-full object-cover">
                            </div>
                            
                            <h2 class="text-xl font-semibold">{{ product.title }}</h2>
                            <p class="text-sm text-gray-600">Rs.{{ product.price }}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="mt-4 py-4 px-8 bg-gray-200 text-gray-800">You don't have any product yet!!</p>
    {% endif %}
{% endblock %}
