{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="text-2xl">{{ title }}</h1>

    <form action="." method="post" enctype="multipart/form-data" class="space-y-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mt-4 py-2 px-3 bg-green-500 text-white hover:bg-green-800 rounded-md">Submit</button>
    </form>

    {% if product %}
        <a href="{% url 'delete_product' product.id %}" class="mt-4 inline-block py-2 px-3 bg-red-500 text-white rounded-md">Delete Product</a>
    {% endif %}
{% endblock %}
